#carrusel-container {
  max-width: 40% 
}
.planilla b {
  text-decoration: underline;
}
.planilla p {
  margin-bottom: 20px;
}

@media screen and (max-width: 1080px){
  #carrusel-container {
    max-width: 100%;
  }
  .planilla p {
    margin-bottom: 20px;
  }
  
}

@media screen and (max-width: 1850px){
  html * {margin: 0; padding: 0;}
}