.image {
    width: 650px;
    height: 450px;
}

#carrusel-container1 {
  max-width: 50% !important;
}

@media screen and (max-width: 1080px){
    .planilla img {
        width: 350px;
    }
    .planilla h1 {
        font-size: xx-large;
    }
}



@media screen and (max-width: 1850px){
    html * {margin: 0; padding: 0;}
}