#carrusel-container1 {
  max-width: 50%;
}

@media screen and (max-width: 1080px){
    #carrusel-container1 {
        max-width: 100%
      }
    .planilla h1 {
        display: flex;
        justify-content: center;
        font-size: xx-large;
    }
}



@media screen and (max-width: 1850px){
    html * {margin: 0; padding: 0;}
}