
/* #carrusel-container1 {
  max-width: 50% !important;
} */

@media screen and (max-width: 1080px){
    .planilla img {
        width: 550px;
    }
    .planilla h1 {
        display: flex;
        justify-content: center;
        font-size: xx-large;
    }
}



@media screen and (max-width: 1850px){
    html * {margin: 0; padding: 0;}
}