@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

section {
    height: 100vh;
}

body {
    background-image: url('https://images.wallpaperscraft.com/image/single/paint_black_texture_125883_3840x2160.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    flex: 1;
    min-height: 100vh;
}
#root {
  margin-top: 150px;
}
nav{
    background-color: rgb(136, 135, 135);
    display: flex;
    gap: 30px;
    font-size: large;
    padding: 1em 3em;
}
h1 {
    font-size: 200%;
    font-weight: bold;
}

footer {
    background-position: bottom;
    color:rgb(136, 134, 134);
    background-color: rgb(36, 35, 35);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    margin-top: auto;
}

.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav a.active {
    background-color: red;
}
.seccion {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 3vmin);
    color: white;
    font-weight: bold;
}
.planilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:white;
    padding: 1em;
}

#basic-navbar-nav {
  justify-content: flex-end;
}
#navbar-bootstrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
