@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

nav{
    background-color: #444;
    display: flex;
    gap: 30px;
    font-size: large;
    padding: 1em 3em;
}
nav a{
    color: white
}
footer {
    background-color: #444;
    text-align: center;
    padding: 2em 0;
}
main {
    background-color: black;
    flex: 1;
}
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav a.active {
    background-color: red;
}
.seccion {
    background-color: black;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 3vmin);
    color: white;
}
.planilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:white;
    padding: 1em;
}
.foto img {
    width: 600px;
}
.foto2 img {
    width: 400px;
}
